.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    border-radius: 0.375rem;
    height: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 20;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.top-0 {
    top: 0;
}

.header.top-9 {
    top: 9px;
}

.header a {
    position: relative;
}

.header a img {
    position: absolute;
    top: -70px;
    left: -80px;
    width: 370px;
    height: 300px;
}

.header .nav {
    display: none;
}

.header .nav-mobile {
    display: none;
}

.header .buttons {
    display: flex;
    gap: 0.5rem;
    background-color: #ffffff;
}

.header .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d3748;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: all 0.3s;
}

.header .button:hover {
    color: #ff6600;
}

.header .button.sign-in {
    color: #ff6600;
}

.header .button.sign-up {
    background-color: #ffcc00;
    border: 1px solid #ff6600;
    color: #ff6600;
}

.header .button.sign-up:hover {
    background-color: #ff6600;
    color: #ffffff;
}

.btn-si {
    transition: color 0.3s;
}

.btn-si:hover {
    color: orange;

}