 .logot img{
    height: 300px;
    margin-top: -22px;
}

.toptitle h4{
    padding-top: 90px;
}
.login {
    margin-top: -127px;
  }
.loginbackground{
    background-color: #FFFFFF; /* Thiết lập màu nền là trắng */
   background-image: linear-gradient(to bottom, #FFA07A, #FFFFFF) ;
   height: 100%;
} 
.bodylogin{
    height: 1000px;
     overflow: hidden;
}